body {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

details.notes {
    color: red;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}