body {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* doc {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

details.notes {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
} */