/* body {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

*/

details.notes {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
} 

doc {
    color: black;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* doc-contents {
    font-size: 16px;
} */